// Variables de colores
$primary-color: #2d2d56;
$secondary-color: #80bfe4;
$accent-color: #0059ff2d;
$white: #ffffff;
$black: #000000;
$light-gray: #f0f0f0;
$dark-gray: rgb(58, 58, 58);
$dropdown-bg: rgb(74, 74, 77);

// Variables de fuentes
$font-primary: "EB Garamond", serif;
$font-secondary: "Bebas Neue", sans-serif;
$font-body: "Noto Sans Wancho", sans-serif;

// Variables de tamaños
$font-size-xs: 10px;
$font-size-sm: 18px;
$font-size-md: 20px;
$font-size-lg: 25px;
$font-size-xl: 35px;
$font-size-xxl: 42px;

// Variables de espaciado
$spacing-xs: 10px;
$spacing-sm: 20px;
$spacing-md: 30px;
$spacing-lg: 40px;
$spacing-xl: 50px;
$spacing-xxl: 70px;

// Variables de breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1399px;

// Variables de transiciones
$transition-fast: 0.3s ease;
$transition-normal: 1s ease-in-out;
$transition-slow: 6s ease;

// Variables de z-index
$z-index-base: 1;
$z-index-overlay: 2;
$z-index-modal: 1000;

// Carrusel

$carousel-control-color: $white;
$carousel-control-width: 15%;
$carousel-control-opacity: .5;
$carousel-control-hover-opacity: .9;
$carousel-control-transition: opacity .15s ease;

$carousel-indicator-width: 30px;
$carousel-indicator-height: 3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 3px;
$carousel-indicator-opacity: .5;
$carousel-indicator-active-bg: $white;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity .6s ease;

$carousel-caption-width: 70%;
$carousel-caption-color: $white;
$carousel-caption-padding-y: 1.25rem;
$carousel-caption-spacer: 1.25rem;

$carousel-control-icon-width: 2rem;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration: .6s;
$carousel-transition: transform $carousel-transition-duration ease-in-out; 